*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
     color: #333;
}

.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.certer-x{
    justify-content: center;
}
.center-y{
    align-items: center;
}
.center-all{
    justify-content: center;
    align-items: center;
}
.invisible{
    display: none;
}
.visible{
     display: flex;
}
.overlay-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.fake-modal,.send-text,.donate-modal{
    width: 400px;
    padding: 12px;
    min-height: 50px;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    z-index: 3;
    border: 0.68px solid #ddd;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fake-modal .title,.send-text .title ,.donate-modal .title{
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 20px;
    text-align: center;
}
.fake-modal .text,.donate-modal .text{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}
.send-text .text-area-message{
    margin: 10px 0px;
    border: 0.68px solid #dddd;
}
.fake-modal .button-container,.send-text .button-container,.donate-modal .button-container{
    width: 100%;
}
.fake-modal .button-container .button, .send-text .button-container .button, .donate-modal .button-container .button{
    vertical-align: middle;
    margin-right: 8px;
    min-height: 30px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    border-radius: 8px;
    background-image: linear-gradient(rgb(249, 154, 50) 50.52%, rgb(253, 185, 51));
    color: #333;
    cursor: pointer;
    border: 0.68px solid #cacaca;
    padding: 0px 12px;
}
.main-container{
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.overlay{
    width: 100%;
    min-height: 100%;
    height: fit-content;
    padding: 56px 48px 48px 48px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1693px) {
   .overlay{ 
      padding:  48px 40px 40px  48px;
  }
}
@media screen and (max-width: 1435px) {
   .overlay{ 
      padding:  48px 34px 34px  48px;
  }
}
@media screen and (max-width: 1267px) {
   .overlay{ 
     padding: 56px 26px 26px 48px;
  }
}
@media screen and (max-width: 992px) {
  .overlay {
     padding: 48px 10px 48px 10px;
  }
}

.top-part{
    margin: 0 auto;
    width: 100%;
    height: fit-content;
}
.top-part .image-top-container{
     margin: 0 auto;
}
.top-part .image-top-container img{
    width: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.subtitle{
    font-weight: 700px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 12px;
}

@media screen and (max-width: 992px) {
 .block-buttons .button {
     min-width: 10px;
     padding: 0px 6px;
  }
}
.block-buttons .button:hover{
    background-image: linear-gradient(rgb(249, 154, 50) 40%, rgb(253, 185, 51));
}
.main-part{
    width: 70%;
    height: fit-content;
    justify-content: space-around;
    margin-top: 20px;
}
@media screen and (max-width: 1693px) {
    .main-part{ 
     width: 80%;
  }
}
@media screen and (max-width: 1435px) {
    .main-part{ 
     width:90%;
  }
}
@media screen and (max-width: 1300px) {
    .main-part{ 
     width:100%;
     display: flex;
     flex-direction: column;
  }
}
@media screen and (max-width: 1267px) {
    .main-part{ 
     width:100%;
  }
}
@media screen and (max-width: 1267px) {
    .main-part{ 
     width:100%;
  }
}
.main-part .left-part{
    width: 80%;
    min-height: 200px;
    background-color: #fff;
    border-radius: 16px;
    padding: 48px 36px;

}
@media screen and (max-width: 1693px) {
   .main-part .left-part{ 
      padding:  48px 30px;
  }
}
@media screen and (max-width: 1435px) {
   .main-part .left-part{ 
      padding:  48px 26px ;
  }
}
@media screen and (max-width: 1267px) {
   .main-part .left-part{ 
     padding: 48px 20px;
  }
}
@media screen and (max-width: 992px) {
  .main-part .left-part {
     padding: 48px 10px;
  }
}
.main-part .right-part{
    width: 20%;
    position: relative;
}
.main-part .right-part .container-specs{
    position: fixed;
    min-height: 464px;
    height: fit-content;
    background-color: #fff;
    border-radius: 16px;
    background-color: #fff;
    border-radius: 16px;
    top: 200px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 16px -3px;
    width: 300px;
    right: 54px;
    display: flex;
    flex-direction: column;

}
@media screen and (max-width: 1300px) {
    .main-part .right-part .container-specs{ 
     width:100%;
     display: flex;
     flex-direction: column;
     position: static;
  }
}
@media screen and (max-width: 1300px) {
    .main-part .right-part{ 
     width:100%;
  }
}
@media screen and (max-width: 1267px) {
    .main-part .right-part{ 
     width:100%;
  }
}
@media screen and (max-width: 1267px) {
    .main-part .right-part{ 
     width:100%;
  }
}
@media screen and (max-width: 992px) {
  .main-part .right-part {
     width: 100%;
  }
}
.main-part .right-part .container-specs .block-buttons{
    height: 60px;
    border-radius: 16px;
    margin-top: auto;
}
   
.main-part .right-part .container-specs .block-buttons .container-buttons{
    position: relative;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
}
.main-part .right-part .container-specs .block-buttons .container-buttons .button{
    vertical-align: middle;
    margin-right: 8px;
    min-height: 30px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 650;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    border: 0.68px solid #cacaca;
    padding: 0px 12px;
    background-image: linear-gradient(rgb(249, 154, 50) 50.52%, rgb(253, 185, 51));
    font-size: 12px;
}

@media screen and (max-width: 992px) {
    .main-part {
    display: flex;
    flex-direction: column;
  }
  .main-part .left-part{
    width: 100%;
   
}
.main-part .right-part{
  
    margin-top: 20px;
}
}
.bio-part {
    width: 100%;
    min-height: 600px;
}
.bio-part .title{
    font-size: 35px;
    font-weight: 700;
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 20px;
}
@media screen and (max-width: 992px) {
  
     .friends-part .title{
        display: flex;
        flex-direction: column;
    }
}
.bio-part .title .image{
  border-radius:16px;
  width:800px;
  height:600px;
  margin-right: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./material/fattizzio.png');
}
@media screen and (max-width: 992px) {
  .bio-part .title .image {
     width: calc(100vw - 37px);
  }
}
.bio-part .description{
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
}
.friends-part{
    margin-top: 48px;
}
.friends-part .title{
    font-size: 30px;
    font-weight: 700;
}
.friends-part .title .image{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./material/friends.jpg');
}
.friends-part .description-container{
    max-height: 200px;
    overflow-y: auto;
}
.friends-part .description-container .description{
    margin-top: 25px;
}
@media screen and (max-width: 992px) {
   .friends-part .description-container .description{
    display: flex;
    flex-direction: column;
   }
   .friends-part .description-container .description .image{
    margin-bottom: 16px;
   }
}
.friends-part .description-container .description .description-text{
    font-size: 14px;
    font-weight: 500;
    width: 60%;
}

.friends-part .description-container .description .image{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-specs{
    padding: 24px 20px;
}
.container-specs .title{
    font-size: 26px;
}
.container-specs .title span{
    font-size: 18px;
    color: #ddd;
}
.container-specs .row-part{
    display: flex;
}
.container-specs .percentage{
    width: 100%;
    height: 8px;
    margin-top: 20px;
    background-color: #00ff2a62;
    position: relative;
}
.container-specs .percentage .line{
    width: 30%;
    height: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #00ff2a;
    position: absolute;
    left: 0px;
}

.container-specs .donation-part{
    max-height: calc(464px - 100px);
    overflow-y: auto;
}
.container-specs .donation-part .donation{
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
}

.container-specs .donation-part .donation .description-text{
    font-size: 14px;
    font-weight: 500;
    width: 60%;
}

.container-specs .donation-part .donation .image{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px transparent; 
  border-radius: 1px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}